%ul.nav.nav-pills.nav-stacked
  %li
    %a.pjaxable{:href => "/"} Home
%hr
%ul.nav.nav-pills.nav-stacked
  %li
    %form{:action => "/logout", :method => "post"}
      = get_csrf_tag
      %input.btn.btn-danger{:type => "submit", :value => "Sign out"}
