%h3 User
%ul.nav.nav-pills.nav-stacked
  %li
    %a.pjaxable{:href => "/repos"} Repos
%h3 Navi
%ul.nav.nav-pills.nav-stacked
  %li
    %a.pjaxable{:href => "/"} Home
  %li
    %a.pjaxable{:href => "/about"} About
  %li
    %a.pjaxable{:href => "/version"} Version
%hr
%ul.nav.nav-pills.nav-stacked
  %li
    %form{:action => "/logout", :method => "post"}
      = get_csrf_tag
      %input.btn.btn-danger{:type => "submit", :value => "Sign out"}
