%h3 User
%ul.nav.nav-pills.nav-stacked
  %li
    %a.pjaxable{:href => "/repos"} Repos
  %li
    %a.pjaxable{:href => "/user_status"} Status
%h3 Navi
= partial :side_logout
%hr
%ul.nav.nav-pills.nav-stacked
  %li
    %form{:action => "/logout", :method => "post"}
      = get_csrf_tag
      %input.btn.btn-danger{:type => "submit", :value => "Sign out"}
