.label-view {
  & > .name {
    float: left;
  }
  & > .controllers {
    float: right;
  }
}

.label-view {
  & {
    background: rgba(240, 240, 240, 0.9);
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding: 6px;
    margin-bottom: 1px;
  }
}

