@import "compass/css3";
@import "compass/css3/user-interface";

@import "label_view";
@import "label_category_view";

body {
  background: rgba(224, 224, 224, 1);
  color: rgba(62, 62, 62, 1);
  overflow-y: scroll;
}
